# claude AI assistants
.claude/*
!.claude/.claude.json
!.claude/config.json
!.claude/mcp_settings.json
!.claude/settings.local.json
!.claude/commands/

# codex AI assistants
.codex
!.codex/config.toml

.env
.idea

node_modules
